header{
    background-image:url(assets/backgrounds/h_img.jpg);
}
section{
    height:400px;
}

section.about{
    background-color: white;
}
section.services{
    background-image: url(assets/backgrounds/s_image.jpg);
}

section.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
}